<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenAnnotation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenAnnotation.Properties.Settings>
            <setting name="SleepWord1" serializeAs="String">
                <value>只今、離席中</value>
            </setting>
            <setting name="SleepWord2" serializeAs="String">
                <value>Break Time</value>
            </setting>
            <setting name="SleepWord3" serializeAs="String">
                <value>Lunch Break</value>
            </setting>
        </ScreenAnnotation.Properties.Settings>
    </userSettings>
</configuration>